In [8]:
from lxml import objectify
import pandas as pd

In [2]:
path = "/Users/macm2/Desktop/pythoon/pandas/Performance_MNR.xml"

In [3]:
with open(path) as f:
    parsed = objectify.parse(f)

In [4]:
 root = parsed.getroot()

In [12]:
data = []

skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ",
               "DESIRED_CHANGE", "DECIMAL_PLACES"]

for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

AttributeError: no such child: INDICATOR

In [11]:
perf = pd.DataFrame(data)

*Using HDF5 Format
HDF5 is a respected file format intended for storing large quantities of scientific array data. It is available as a C library, and it has interfaces available in many other languages, including Java, Julia, MATLAB, and Python. The “HDF” in HDF5 stands for hierarchical data format. Each HDF5 file can store multiple datasets and supporting metadata. Compared with simpler formats, HDF5 supports on-the-fly compression with a variety of compression modes, enabling data with repeated patterns to be stored more efficiently. HDF5 can be a good choice for working with datasets that don't fit into memory, as you can efficiently read and write small sections of much larger arrays.

To get started with HDF5 and pandas, you must first install PyTables by installing the tables package with conda:*

Many websites have public APIs providing data feeds via JSON or some other format. There are a number of ways to access these APIs from Python; one method that I recommend is the requests package, which can be installed with pip or conda:

conda install requests
To find the last 30 GitHub issues for pandas on GitHub, we can make a GET HTTP request using the add-on requests library:
.
.
.
It's a good practice to always call raise_for_status after using requests.get to check for HTTP errors.

The response object’s json method will return a Python object containing the parsed JSON data as a dictionary or list (depending on what JSON is returned):

ince the results retrieved are based on real-time data, what you see when you run this code will almost definitely be different.

Each element in data is a dictionary containing all of the data found on a GitHub issue page (except for the comments). We can pass data directly to pandas.DataFrame and extract fields of interest:

In [13]:
import requests

In [14]:
 url = "https://api.github.com/repos/pandas-dev/pandas/issues"

In [15]:
resp = requests.get(url)

In [16]:
resp.raise_for_status()

In [17]:
resp

In [18]:
 data = resp.json()

In [19]:
data[0]["title"]

'BUG: `query` on columns with characters like # in its name'

In [20]:
issues = pd.DataFrame(data, columns=["number", "title","labels", "state"])

In [21]:
 issues

,number,title,labels,state
0,59296,BUG: `query` on columns with characters like #...,[],open
1,59295,allow set_index to set a multiindex from a tup...,[],open
2,59294,Surprising behavior: set_index cannot set a Mu...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
3,59293,BUG: Couldn't run sql: 'Connection' object ha...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,59292,Add fixture docstring for series indexing,[],open
5,59291,DOC: Fix sentence fragment in string methods,[],open
6,59290,DOCS: Add docstrings to fixture in /indexing/i...,[],open
7,59289,DOCS: Add docstrings to fixture in /indexes/ca...,[],open
8,59288,DOCS: Add docstrings to fixtures in /indexes/i...,[],open
9,59287,DOCS: Add docstrings to fixtures in /io/json/t...,[],open
10,59286,[BUG] Hash and compare tuple subclasses as bui...,[],open
11,59285,BUG: Error on query function when the column n...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,59284,Fix https://github.com/pandas-dev/pandas/issue...,[],open
13,59283,CLN: Remove Index.sort,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
14,59281,DOC: Using np.histogram_bin_edges with pd.cut,[],open
15,59279,PERF:,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
16,59277,BUG: Error on to_datetime() after running mult...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,59275,CLN: Remove __nonzero__ in favor of __bool__,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
18,59274,ENH: pd.concat with keys and ignore_index=True...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
19,59273,BUG: reset_index() looses the frequency of a D...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,59272,BUG: CoW does not seem to work on an index wi...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,59267,"DOC: New contributor meeting, clarify or remove","[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
22,59261,BUG: Series.mul silently returns wrong values ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,59256,BUG: Wrong timestamp resolution when parsing t...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,59252,"BUG: rolling window with `center=True, min_per...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,59249,BUG: Pandas squashes 1-dimensional Numpy array...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
26,59242,BUG: read_sql tries to convert blob/varbinary ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,59239,ENH: DataFrame.plot.scatter argument `c` now a...,[],open
28,59238,Add column_offset to explode,[],open
29,59237,ENH: Reduce type requirements for the subset p...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open